parameters:
  paths:
    - src
  level: 0
  ignoreErrors:
    - "#Parameter#"
    - "#Call to static method error\\(\\)\\ on an unknown class Log.#"
  excludePaths:
    - "src/Providers/PayPalServiceProvider.php" 